/* reset e impostazioni generali */

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
    font-size: 20px;
}

section {
    margin: 10px;
}

/* fine reset e impostazioni generali */


/* striscia iniziale con logo */

#sfondo-alto {
  height: 150px;
  background-image: url('immagini/pattern.png');
  background-repeat: repeat;
  background-size: cover;
  background-size: 39%;
  background-color: #4EA0FF;
}

#logo {
    height: 65px;
    margin-top: 80px;
}

/* fine striscia iniziale con logo */


/* titolo e data */

h1 {
    font-size: 3em;
}

.info-titolo {
    font-size: 1.3em;
    color: grey;
}

#sottolineato {
    color: #4EA0FF;
}

#data {
    font-size: 0.7em;
    color: grey;
}

/* fine titolo e data */


/* sezione foto e desrcizione */

.photo {
height:500px ;    
}

.foto-didascalia {
    font-size: 0.8em;
}

/* fine sezione foto e descrizione */


/* sezione primo paragrafo */

.sottolineato {
    background-color: yellow;
}

/* fine sezione primo paragrafo */


/* secondo paragrafo (elenco puntato) */

ul {
    padding: 20px;
}

/* fine secondo paragrafo (elenco puntato) */


/* terzo paragrafo tabella */

.tabella {
    font-size: 00.8em;
    text-align: left;
    border-spacing: 0;
    
}

table {
    border-spacing: 0;
}
.prima-riga {
    background-color: #20A9E5;
    
}

.riga-blu {
    background-color: #B1E5F2;
   
}

.riga-bianca {
    background-color: white;
    
    
}

/* fine terzo paragrafo tabella  */


/* quarto paragrafo con sottolineato */